@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    overflow-x: hidden;
    background-color: #09020E;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    padding: 1px 5%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo-img {
    width: 50px;
    height: 50px;
    object-fit: cover; 
}

#navbar a {
    position: relative;
    font-size: 1vw;
    color: white;
    font-weight: 700;
    text-decoration: none;
    margin-left: 2vw;
    transition: color 0.3s; 
}

#navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #88EC3A;
    transition: width 0.3s; 
}

#navbar a:hover {
    color: #ae00ff; 
}

#navbar a:hover::before {
    width: 100%;
}

.scrolled {
    background-color: rgba(1, 27, 61, 0.479); 
    transition: background-color 0.3s;
}

#loginButton,
#logoutButton{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    background-color: #1e4ce4;
}

.about-us-main-container {
    /* margin: 10vw;  */
    margin-top: 60px;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 10vh;
    z-index: 10;
    position: relative;
    margin-bottom: 0;
}

.about-us-main-container h1 {
    font-size: 96px;
    font-weight: 800;
    color: white;
    margin-bottom: 10px;
    text-align: center;
}

/* **************************************** */
.span-purple-1 {
    color: #500079;
}

.grid-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    /* height: 120vh; */
}

.grid-top-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.team-member {
    width: 250px;
    flex: 1;
    background: linear-gradient(#4B1174, #09020E);
    border: 1px solid #A6A6A6;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}

.dp {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 20px;
}

.dp img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team-member h1 {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 5px;
    color: white;
}

.team-member h2 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    color: white;
}

.team-member p {
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 20px;
    color: white;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.socials a img {
    width: 40px;
    height: 40px;
}

/* **************************************** */
.footer-container {
    border-top: solid white 1px;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.footer-container h2 {
    margin-top: 1vw;
    font-weight: 300;
    font-size: 1.5vw; 
}

.links-footer {
    position: relative;
    font-size: 1.5vw; 
    color: white;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2vw; 
    width: 90vh;
    margin-bottom: 3vw;
    margin-top: 3vw;
}

.links-footer a {
    margin-top: 2vw;
    font-size: 1.2vw; 
    color: white;
    font-weight: 500;
    text-decoration: none;
    position: relative; 
    opacity: 0; 
    transform: translateY(20px);
    transition: transform 0.5s ease, opacity 0.5s ease;
    animation: fadeInUp 0.5s ease forwards; 
}

.links-footer a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px; 
    width: 0;
    height: 2px;
    background: #C4FF00; 
    transition: width 0.3s ease; 
}

.links-footer a:hover {
    color: #ae00ff;
    transform: translateY(0); 
    opacity: 1;
}

.links-footer a:hover::after {
    width: 100%; 
}

.footer-container p {
    margin-bottom: 2vw;
}

/* ************LOGIN MODAL*********** */
#login_modal_container{
    /* display: flex; */
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 11;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
    background-color: #23013dc0;
}

.login-modal-content{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    border-radius: 20px;
    overflow-y: auto;
    max-height: 95vh;
    padding: 20px;
    width: 25%;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.726);
}

#login_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.close-button-form{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    color: black;
    width: 100%;
}

#close_button_form{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: rgba(0, 0, 0, 0.199) solid 1px;
}

#close_button_form:hover{
    background-color: #09020e36;
}

#avatar_login_icon1{
    width: 100px;
    height: 100px;
}

.login-title{
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 20px;
}

.email-container,
.password-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}

#login_button_form{
    display: flex;
    color: white;
    width: 50%;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    background-color: #0411c0;
    cursor: pointer;
}

#login_button_form:hover{
    background-color: #2832be;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.dot{
    position: absolute;
    top: -200px;
    right: -200px;
    z-index: 1;
}
.dot1{
    position: absolute;
    top: 100px;
    left: -200px;
    z-index: 1;
}
.dot2{
    position: absolute;
    top: 450px;
    right: 300px;
    z-index: 1;
}

#loading_div{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #12153fa9;
}
#loading_div img{
    width: auto;
    height: 100px;
}