@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
    background-color: #09020E;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 1px 5%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

#navbar a {
    position: relative;
    font-size: 1vw;
    color: white;
    font-weight: 700;
    text-decoration: none;
    margin-left: 2vw;
    transition: color 0.3s; 
}

#navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #88EC3A;
    transition: width 0.3s; 
}

#navbar a:hover {
    color: #ae00ff; 
}

#navbar a:hover::before {
    width: 100%;
}

.scrolled {
    background-color: rgba(20, 48, 85, 0.8); 
    transition: background-color 0.3s;
}

.student-cos-library-books {
    z-index: 10;
    position: relative;
    margin-bottom: 0;
}

/* ********************* */
.content-containers{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    height: 92vh;
    border-top: white solid 1px;
}

.side-bar-menu{
    display: flex;
    flex-direction: column;
    flex: 0 15%;
    color: white;
    border-right: solid white 1px;
}

#dashboard_tab{
    margin-top: 10px;
}

.side-bar-tabs{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    /* border: white 1px solid; */
    cursor: pointer;
}

.side-bar-tabs:hover{
    background-color: #240836;
}

.books-tabs{
    margin-top: 20px;
    padding-left: 10px;
}

.side-bar-tabs img{
    width: 20px;
    height: 20px;
}

.main-content-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    color: white;
}

.whole{
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.arrow_back{

}

.study-title{
    display: flex;
    flex-direction: column;
    height: auto;
}

#studyTitle{
    display: flex;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color: #D9D9D9;
    padding: 10px;
}

.titles{
    display: flex;
    flex-direction: row;
}

.select-category{
    margin-left: 500px;
}

.options{
    display: flex;
    flex-direction: row;
}

.categories{
    margin-left: 225px;
}

#categories {
    height: 40px;
    border-radius: 10px;
    background-color: #D9D9D9;
    width: 500px; 
    color: black;
    padding: 10px;
}

.authors {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.authors-fname, .authors-mname, .authors-lname {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

input[name="fname"],
input[name="mname"],
input[name="lname"] {
    height: 50px;
    background-color: #D9D9D9;
    color: #09020E;
    width: 500px;
    border-radius: 10px;
    padding: 10px;
}

.add-author {
    margin-top: 10px;
    display: flex;
    align-items: center;
    color: #ae00ff;
    cursor: pointer;
}

.x-img {
    cursor: pointer;
    width: 30px;
    height: 30px;
}


.panels-container {
    display: flex;
    flex-direction: column;
}

.panels {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px; /* Add space between panel entries */
}

.panels-fname, .panels-mname, .panels-lname {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

input[type="text"] {
    height: 50px;
    background-color: #D9D9D9;
    color: #09020E;
    width: 500px;
    border-radius: 10px;
    padding: 10px;
}

.add-panel {
    margin-top: 10px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    color: #ae00ff;
    cursor: pointer;
}

.x-img {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.title-author{
    font-size: 28px;
}

.title-panel{
    font-size: 28px;
}

.memo span{
    font-size: 24px;
}

.study-docu span{
    font-size: 24px;
}

.submit{
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 50px;
    font-size: 24px;
    color: white;
    background-color: #ae00ff;
    margin-top: 35px;
    border-radius: 10px;
}