@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
    background-color: #09020E;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 1px 5%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

#navbar a {
    position: relative;
    font-size: 1vw;
    color: white;
    font-weight: 700;
    text-decoration: none;
    margin-left: 2vw;
    transition: color 0.3s; 
}

#navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #88EC3A;
    transition: width 0.3s; 
}

#navbar a:hover {
    color: #ae00ff; 
}

#navbar a:hover::before {
    width: 100%;
}

.scrolled {
    background-color: rgba(20, 48, 85, 0.8); 
    transition: background-color 0.3s;
}

.admin-cos-library-books {
    z-index: 10;
    position: relative;
    margin-bottom: 0;
}

/* ********************* */
.content-containers{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    height: 92vh;
    border-top: white solid 1px;
}

.side-bar-menu{
    display: flex;
    flex-direction: column;
    flex: 0 15%;
    color: white;
    border-right: solid white 1px;
}

#dashboard_tab{
    margin-top: 10px;
}

.side-bar-tabs{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    /* border: white 1px solid; */
    cursor: pointer;
}

.side-bar-tabs:hover{
    background-color: #240836;
}

.books-tabs{
    margin-top: 20px;
    padding-left: 10px;
}

.side-bar-tabs img{
    width: 20px;
    height: 20px;
}

.main-content-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    color: white;
    background-color: #170523;
}

#back_button{
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
}

#add_edit_book_form{
    display: flex;
    flex-direction: column;
    flex: 1;
    color: white;
    padding: 20px;
    height: 100%;
    overflow-y: auto;
}

.title-container{
    display: flex;
    flex-direction: column;
}

.title-text-form{
    font-size: 20px;
}

.other-details-text{
    margin-top: 40px;
}

#studyTitle{
    height: 40px;
    border-radius: 10px;
    color: black;
    padding: 10px;
}

.date-category-container{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 20px;
}

.published-date-container{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.day-month-year-container{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    gap: 10px;
}

.day-container {
    display: flex;
    flex-direction: column;
    width: 15%;
}

.month-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.year-container{
    display: flex;
    flex-direction: column;
    width: 30%;
}

#day_input_value,
#month_input_value,
#year_input_value{
    height: 40px;
    border-radius: 10px;
    color: black;
    padding: 10px;
}

.select-category-container{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.category-subtitle1{
    margin-top: 10px;
}

#selected_category,
#selected_course {
    height: 40px;
    border-radius: 10px;
    color: black;
    padding: 10px;
}

.course-field-container{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 20px;
}

.course-container,
.field-study-container{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.field-study-container{
    display: flex;
    flex-direction: column;
}

.field-study-container span{
    font-weight: 200;
}

#field_of_the_study{
    height: 80px;
    border-radius: 10px;
    color: black;
    padding: 10px;
    max-height: 100px;
    overflow-y: auto;
    resize: none;
}

.authors-container,
.panels-container{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

#author_list_main_container,
#panel_list_main_container{
    margin-top: 10px;
}

.author-list-container,
.panel-list-container{
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 10px;
    margin-bottom: 10px;
}

.author-name-container,
.panel-name-container{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.author-name-container input,
.panel-name-container input{
    height: 40px;
    border-radius: 10px;
    color: black;
    padding: 10px;
}

#add_author_container,
#add_panel_container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 15px;
    color: #6750A4;
    cursor: pointer;
}

.remove-author-form,
.remove-panel-form{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.moa-container,
.study-document-container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.moa-container input,
.study-document-container input{
    cursor: pointer;
}

.moa-container span{
    font-weight: 200;
}

.sumbit-button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.sumbit-button-container button{
    display: flex;
    background-color: #A904FE;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
}