@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #1b0b1a;
    color: white;
    position: relative;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.upload-box {
    border: 2px dashed #bdb0d0;
    padding: 60px;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
    width: 500px;
    height: 300px;
    text-align: center;
}

.upload-box:hover {
    border-color: #C4FF00;
}

.upload-box input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.upload-box h3 {
    margin: 0;
    font-size: 14px;
    color: white;
}

.upload-box span {
    display: block;
    margin-top: 50px;
    font-size: 22px;
    color: #bdb0d0;
}

.upload-box h1 {
    display: block;
    margin-top: 10px;
    font-size: 22px;
    color: #bdb0d0;
}

.summ-btn {
    margin-top: 20px;
    padding: 16px 40px;
    text-decoration: none;
    background: #5a3a6e;
    font-size: 26px;
    color: black;
    cursor: pointer;
    transition: color 0.3s ease;
}

.summ-btn:hover {
    background:  rgb(208, 255, 0);
    color:#5a3a6e   ;
}

.back-to-home {
    position: absolute;
    top: 80px;
    left: 80px;
    font-size: 18px;
    color: #c4ff00;
    text-decoration: none;
}

.back-to-home:hover {
    color: #dd00d2;
}

.upload-box.dragover {
    border-color: #5a3a6e;
    background-color: rgba(255, 255, 255, 0.1);
}


.now {
    font-family: Poppins;
    padding: 16px 40px;
    text-decoration: none;
    background-color: #dd00d2 ; 
    font-size: 26px;
    color: white;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
    border: none; /* Remove default border */
    border-radius: 5px; /* Optional: Add rounded corners */
}

.now:hover {
   
    background: #4e3361;
    color: #e4c1ff; /* Change text color on hover */
    transform: scale(1.05); /* Slightly enlarge the button on hover */
}

.now:active {
    transform: scale(0.95); /* Slightly shrink the button when clicked */
    background-color: #3a2449; /* Further darken the background on click */
    color: #d4a3ff; /* Optional: Change text color on click */
}
