@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.get-file-pages-container{
    background-image: url('../images/10.png');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    color: white;
    padding: 20px;
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 20px 50px;
    background-color: transparent;
}

.back-to-home {
    font-size: 18px;
    color: #bdb0d0;
    text-decoration: none;
}

.back-to-home:hover {
    color: #724b8f;
}

.pdf-title{
    margin-top: 30px;
    color: rgb(94, 240, 9);
}
.pdf-files-container{
    height: 80vh;
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    border-bottom: solid white 1px;
}

.display-pdf-pages{
    flex: 0 80%;
    background-color: aliceblue;
    color: black;
}

.display-pdf-pages embed{
    height: 100%;
    width: 100%;
}

.chapter-container{
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    padding: 20px;
}
.chapter-container h2{
    margin-bottom: 20px;
}

.chapter {
    margin-bottom: 10px;
}

.chapter input[type="number"]{
    width: 150px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #ff5e7e;
    color: #ffffff;
    text-align: center;
}

.chapter input::placeholder {
    color: #ffffff;
}