@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #09020E;
    color: white;
    overflow-x: hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    padding: 1px 5%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo-img {
    width: 50px;
    height: 50px;
    object-fit: cover; 
}

#navbar a {
    position: relative;
    font-size: 1vw;
    color: white;
    font-weight: 700;
    text-decoration: none;
    margin-left: 2vw;
    transition: color 0.3s; 
}

#navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #88EC3A;
    transition: width 0.3s; 
}

#navbar a:hover {
    color: #ae00ff; 
}

#navbar a:hover::before {
    width: 100%;
}

.scrolled {
    background-color: rgba(1, 27, 61, 0.479); 
    transition: background-color 0.3s;
}

#loginButton,
#logoutButton{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    background-color: #1e4ce4;
}

.get-file-main-container {
    display: flex;
    flex-direction: column; 
    margin-top: 60px;
    padding-left: 10%;  
    padding-right: 10%;
    height: 90vh;
}

/* **************************************** */
.title-container h1{
    font-size: 60px;
}

.titlePurple{
    color: #500079;
}

.upload-container{
    display: flex;
    flex-direction: row;
    padding: 10px;
    height: 100%;
    gap: 10px;
}

.file-upload-container{
    display: flex;  
    flex-direction: column;
    flex: 1;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    border: white 2px dashed;
}

.file-upload-container input{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    cursor: pointer;
}

.file-upload-container:hover,
.file-upload-container.dragover{
    background-color: rgba(80, 0, 121, 0.5);
}

.file-upload-text1{
    font-size: 30px;
}

.file-upload-text2{
    font-weight: bold;
}

.file-content-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    border-radius: 20px;
    overflow-y: auto;
    max-height: 55vh;
    padding: 10px;
    border: white 2px solid;
}

.file-content-container-p{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.file-content-card{
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-bottom: 3px;
    align-items: center;
    border-radius: 10px;
    border: white 1px solid;
}

.file-name{
    display: flex;
    flex: 1;
    word-wrap: break-word;  
    overflow-wrap: break-word;
    word-break: break-all;  
    max-width: 100%;  
    margin-right: 20px;
}

.file-delete-button{
    background-color: #500079;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    cursor: pointer;
}
.file-delete-button p{
    color: white;
}

.error-message{
    display: none;
    color: red;
}

.buttons-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

#backButton{
    width: 30%;
    padding: 20px;
    text-align: center;
    border-radius: 50px;
    cursor: pointer;
    border: white 1px solid;
}

#backButton:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

#nextButton{
    width: 30%;
    padding: 20px;
    text-align: center;
    border-radius: 50px;
    cursor: pointer;
    background-color: #4B1174;
}

#nextButton:hover{
    background-color: rgba(122, 73, 157, 0.3);
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

/* ************LOGIN MODAL*********** */
#login_modal_container{
    /* display: flex; */
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 11;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
    background-color: #23013dc0;
}

.login-modal-content{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    border-radius: 20px;
    overflow-y: auto;
    max-height: 95vh;
    padding: 20px;
    width: 25%;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.726);
}

#login_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.close-button-form{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    color: black;
    width: 100%;
}

#close_button_form{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: rgba(0, 0, 0, 0.199) solid 1px;
}

#close_button_form:hover{
    background-color: #09020e36;
}

#avatar_login_icon1{
    width: 100px;
    height: 100px;
}

.login-title{
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 20px;
}

.email-container,
.password-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}

#login_button_form{
    display: flex;
    color: white;
    width: 50%;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    background-color: #0411c0;
    cursor: pointer;
}

#login_button_form:hover{
    background-color: #2832be;
}


/* Dot Image Styling */
.dot, .dot2, .dot3 {
    position: absolute;
    z-index: -10;
}

.dot {
    top: -200px;
    right: -100px;
}

.dot2 {
    top: 100px;
    left: -200px;
}


/* Media Queries for Responsiveness */
@media screen and (max-width: 1200px) {
    .file-upload-text1{
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    .file-upload-text1{
        font-size: 15px;
    }
}

@media screen and (max-width: 480px) {
    .file-upload-text1{
        font-size: 10px;
    }
}
