@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #09020E;
    color: white;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1px 5%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 1vw; 
}

.logo-img {
    width: 150px;
    height: 150px;
    object-fit: cover; /* Ensures the image covers the area without distortion */
}


.navbar a {
    position: relative;
    font-size: 1vw; /* Adjusted for larger size */
    color: white;
    font-weight: 700;
    text-decoration: none;
    margin-left: 2vw; /* Adjusted margin */
    transition: color 0.3s; /* Smooth transition for color change */
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #88EC3A;
    transition: width 0.3s; /* Smooth transition for underline */
}

.navbar a:hover {
    color: #ae00ff; /* Color change on hover */
}

.navbar a:hover::before {
    width: 100%;
}

.navbar.scrolled {
    background-color: rgba(134, 38, 38, 0.8); /* Adjust the color and transparency as needed */
    transition: background-color 0.3s; /* Smooth transition */
}

.whole {
    display: flex;
    flex-direction: column; 
    margin-top: 10%;
    padding-left: 10%;  
    padding-right: 10%;
    height: 78vh;
    /* border: white 1px solid; */
}

.title-container h1{
    font-size: 60px;
}

.titlePurple{
    color: #500079;
}

.upload-container{
    display: flex;
    flex-direction: row;
    padding: 10px;
    height: 100%;
    gap: 10px;
}

.file-upload-container{
    display: flex;  
    flex-direction: column;
    flex: 1;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    border: white 2px dashed;
}

.file-upload-container:hover{
    background-color: rgba(80, 0, 121, 0.5);
}

.file-upload-text1{
    font-size: 30px;
}

.file-upload-text2{
    font-weight: bold;
}

.file-content-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    border-radius: 20px;
    overflow-y: auto;
    padding: 10px;
    border: white 2px solid;
}

.file-content-card{
    display: flex;
    flex-direction: row;
    padding: 10px;
    
    align-items: center;
    border-radius: 10px;
    border: white 1px solid;
}

.file-name{
    word-wrap: break-word;  
    overflow-wrap: break-word;
    word-break: break-all;  
    max-width: 100%;  
    margin-right: 20px;
}

.file-delete-button{
    background-color: #500079;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
}
.file-delete-button p{
    color: white;
}

.buttons-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

#backButton{
    width: 30%;
    padding: 20px;
    text-align: center;
    border-radius: 50px;
    cursor: pointer;
    border: white 1px solid;
}

#backButton:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

#nextButton{
    width: 30%;
    padding: 20px;
    text-align: center;
    border-radius: 50px;
    cursor: pointer;
    background-color: #4B1174;
}

#nextButton:hover{
    background-color: rgba(122, 73, 157, 0.3);
}


/* Dot Image Styling */
.dot, .dot2, .dot3 {
    position: absolute;
    z-index: -10;
}

.dot {
    top: -200px;
    right: -100px;
}

.dot2 {
    top: 100px;
    left: -200px;
}


/* Media Queries for Responsiveness */
@media screen and (max-width: 1200px) {
    .file-upload-text1{
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    .file-upload-text1{
        font-size: 15px;
    }
}

@media screen and (max-width: 480px) {
    .file-upload-text1{
        font-size: 10px;
    }
}
