@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
    background-color: #09020E;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    padding: 1px 5%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

#navbar a {
    position: relative;
    font-size: 1vw;
    color: white;
    font-weight: 700;
    text-decoration: none;
    margin-left: 2vw;
    transition: color 0.3s; 
}

#navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #88EC3A;
    transition: width 0.3s; 
}

#navbar a:hover {
    color: #ae00ff; 
}

#navbar a:hover::before {
    width: 100%;
}

.scrolled {
    background-color: rgba(1, 27, 61, 0.479); 
    transition: background-color 0.3s;
}

#loginButton,
#logoutButton{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    background-color: #1e4ce4;
}

.home-main-container {
    margin: 10vw; 
    z-index: 10;
    position: relative;
    margin-bottom: 0;
}

/* **************************************** */
.first-container {
    display: flex;
    flex-direction: row;
    align-items: center; 
    flex-wrap: wrap;
}

.first-container-left-content {
    flex: 1;
}

.first-container-left-content-text-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    border-bottom: solid white 1px;
}

.first-container-left-content-text-container h1 {
    font-size: 4vw; 
    line-height: 1.5;
}

.h1-purple {
    color: #500079;
    font-size: 5vw; 
    font-weight: 800;
    margin: 0;
}

.h1-white {
    color: #ffffff;
    font-size: 5vw; 
    font-weight: 800;
    margin: 0;
}

.first-container-left-content-text-container p {
    text-align: justify;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.5vw; 
    line-height: 1.5;
}

.summarize-button {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 70px;
    padding-right: 70px;
    font-size: 1.5vw;
    color: white;
    background-color: #500079;
    text-decoration: none;
    border-radius: 15px;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 20px; 
}

.summarize-button:hover {
    background: linear-gradient(95deg, #1e4ce4, #640F8F);
    transform: scale(1.005); 
}

.first-container-right-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-left: 2vw; 
}

.first-container-right-content video {
    width: 100%;
    height: auto;
    max-width: 100%; 
}

/* **************************************** */
.second-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10vw;
}

.second-container h1 {
    color: white;
    font-size: 5vw; 
    font-weight: 800;
}

.second-container-upper-content {
    display: flex;
    flex: 1;
    flex-direction: row;
    border: solid white 1px;
    padding: 2vw;
    border-radius: 20px;
    margin-bottom: 1vw;
    background-color: #09020e77;
}

.second-container-upper-content-left-container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.second-container-upper-content-left-container h1 {
    color: white;
    font-size: 3vw;
    font-weight: 800;
    margin: 0;
}

.span-purple-1 {
    color: #500079;
    font-size: 3vw; 
    font-weight: 800;
    margin: 0;
}

.span-green-1 {
    color: #88EC3A;
    font-size: 3vw;
    font-weight: 800;
}

.second-container-upper-content-left-container p {
    text-align: justify;
    color: white;
    font-size: 1.5vw; 
    line-height: 1.5;
}

.second-container-upper-content-right-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.second-container-lower-content {
    display: flex;
    flex-direction: row;
    gap: 2vw; 
    width: 100%;
    justify-content: center;
    flex-wrap: wrap; 
}

.second-container-lower-content img {
    width: 100%;
    max-width: 25vw;
    height: auto;
}

.fast-container {
    background: linear-gradient(#C4FF00, #09020E);
}

.easy-container {
    background: linear-gradient(#640F8F, #09020E);
}

.just-container {
    background: linear-gradient(#E26890, #09020E);
}

.fast-container, 
.easy-container, 
.just-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    border: solid #AEAEAE 1px;
    padding: 2vw; 
}

.fast-container h1, 
.easy-container h1, 
.just-container h1 {
    margin: 0;
    align-self: flex-end; 
    width: 100%;
    text-align: center;
    font-size: 2.5vw; 
}

.fast-container img, 
.easy-container img {
    margin-top: 2vw;
}

/* **************************************** */
.third-container {
    display: flex;
    flex-direction: column;
    margin: 2vw;
    justify-content: center;
    text-align: center;
    margin-top: 10vw;
}

.third-container-text-content {
    display: flex;
    flex-direction: column;
    padding-top: 2vw;
    padding-left: 2vw;
    padding-right: 2vw;
    border-radius: 20px;
}

.third-container-text-content h1 {
    color: white;
    font-size: 5vw; 
    font-weight: 800;
    margin: 0;
    font-family: Poppins;
    margin-bottom: 1vw;
}

.third-container-text-content p {
    color: white;
    font-size: 1.5vw; 
    margin-bottom: 2vw;
    line-height: 1.5;
    margin-right: 2vw;
    margin-left: 2vw;
}

.third-container-pros-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 2vw; 
    padding: 2vw;
    justify-content: center;
    align-items: center;
}

.third-container-pros-content > div {
    display: flex;
    width: 100%;
    height: 150px;
    background-color: black; 
    border-radius: 15px;
    padding: 2vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 1px #500079 solid;
    box-sizing: border-box; 
}

.third-container-pros-content h2 {
    font-size: 1.5vw;
    margin: 0;
    color: #ffffff; 
    font-weight: 200;
}

/* **************************************** */
.fourth-container {
    display: flex;
    flex-direction: column;
    margin: 2vw;
    justify-content: center;
    text-align: center;
    margin-top: 10vw;
}

.fourth-container h1 {
    color: white;
    font-size: 5vw; 
    font-weight: 800;
    margin: 0;
    font-family: Poppins;
    margin-bottom: 1vw;
}

.span-purple-2 {
    color: #500079;
    font-size: 5vw; 
    font-weight: 800;
    margin: 0;
    font-family: Poppins;
    margin-bottom: 1vw;
}

/* **************************************** */
.footer-container {
    border-top: solid white 1px;
    margin-top: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.footer-container h2 {
    margin-top: 1vw;
    font-weight: 300;
    font-size: 1.5vw; 
}

.links-footer {
    position: relative;
    font-size: 1.5vw; 
    color: white;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2vw; 
    width: 90vh;
    margin-bottom: 3vw;
    margin-top: 3vw;
}

.links-footer a {
    margin-top: 2vw;
    font-size: 1.2vw; 
    color: white;
    font-weight: 500;
    text-decoration: none;
    position: relative; 
    opacity: 0; 
    transform: translateY(20px);
    transition: transform 0.5s ease, opacity 0.5s ease;
    animation: fadeInUp 0.5s ease forwards; 
}

.links-footer a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px; 
    width: 0;
    height: 2px;
    background: #C4FF00; 
    transition: width 0.3s ease; 
}

.links-footer a:hover {
    color: #ae00ff;
    transform: translateY(0); 
    opacity: 1;
}

.links-footer a:hover::after {
    width: 100%; 
}

.footer-container p {
    margin-bottom: 2vw;
}

/* ************LOGIN MODAL*********** */
#login_modal_container{
    /* display: flex; */
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 11;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
    background-color: #23013dc0;
}

.login-modal-content{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    border-radius: 20px;
    overflow-y: auto;
    max-height: 95vh;
    padding: 20px;
    width: 25%;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.726);
}

#login_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.close-button-form{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    color: black;
    width: 100%;
}

#close_button_form{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: rgba(0, 0, 0, 0.199) solid 1px;
}

#close_button_form:hover{
    background-color: #09020e36;
}

#avatar_login_icon1{
    width: 100px;
    height: 100px;
}

.login-title{
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 20px;
}

.email-container,
.password-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}

#login_button_form{
    display: flex;
    color: white;
    width: 50%;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    background-color: #0411c0;
    cursor: pointer;
}

#login_button_form:hover{
    background-color: #2832be;
}

#loading_div{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #12153fa9;
}
#loading_div img{
    width: auto;
    height: 100px;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.dot {
    position: absolute;
    top: -200px;
    right: -200px;
    z-index: 1;
}

.dot2 {
    position: absolute;
    top: 100px;
    left: -200px;
    z-index: 1;
}

.dot3 {
    position: absolute;
    top: 800px;
    left: 20px;
    z-index: 1;
}

.dot3-1 {
    position: absolute;
    top: 1300px;
    right: 300px;
    z-index: 1;
}

.dot4 {
    position: absolute;
    top: 2100px;
    right: 20px;
    z-index: 1;
}

.dot5 {
    position: absolute;
    top: 2500px;
    left: 20px;
    z-index: 1;
}

.dot6 {
    position: absolute;
    top: 3200px;
    right: 20px;
    z-index: 1;
}

.dot7 {
    position: absolute;
    top: 4600px;
    left: 150px;
    z-index: 1;
}

.dot8 {
    position: absolute;
    top: 5700px;
    right: 400px;
    z-index: 1;
}


@media (max-width: 800px) {
    .dot{
        width: 300px;
        height: auto;
        top: -50px;
        right: -100px;
    }
    .dot3-1{
        width: 500px;
        height: auto;
        top: 1500px;
        right: 50px;
    }
    .dot5{
        width: 400px;
        height: auto;
        top: 2800px;
        left: 500px;
    }
    .dot6{
        width: 400px;
        height: auto;
    }
    .dot7{
        width: 400px;
        height: auto;
        top: 2800px;
        left: -10px;
    }
}

@media (max-width: 320px) { /* 425px */
    .header {
        padding: 10px 5%;
    }
}