@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
    background-color: #09020E;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    padding: 1px 5%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

#navbar a {
    position: relative;
    font-size: 1vw;
    color: white;
    font-weight: 700;
    text-decoration: none;
    margin-left: 2vw;
    transition: color 0.3s; 
}

#navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #88EC3A;
    transition: width 0.3s; 
}

#navbar a:hover {
    color: #ae00ff; 
}

#navbar a:hover::before {
    width: 100%;
}

.scrolled {
    background-color: rgba(20, 48, 85, 0.8); 
    transition: background-color 0.3s;
}

#loginButton,
#logoutButton{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    background-color: #1e4ce4;
}

.student-cos-library-books {
    z-index: 10;
    position: relative;
    margin-bottom: 0;
}

/* ********************* */
.content-containers{
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    height: 90vh;
    border-top: white solid 1px;
}

.side-bar-menu{
    display: flex;
    flex-direction: column;
    flex: 0 15%;
    color: white;
    border-right: solid white 1px;
}

#dashboard_tab{
    margin-top: 10px;
}

.side-bar-tabs{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    /* border: white 1px solid; */
    cursor: pointer;
}

.side-bar-tabs:hover{
    background-color: #240836;
}

.books-tabs{
    margin-top: 20px;
    padding-left: 10px;
}

.side-bar-tabs img{
    width: 20px;
    height: 20px;
}

.selected-side-bar-option{
    background-color: #240836;
}

.main-content-container{
    /* display: flex; */
    display: none;
    flex-direction: column;
    flex: 1;
    color: white;
}

.search-container{
    padding: 10px;
}

#search_form{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.search-container input[type=text]{
    flex: 1;
    height: 35px;
    font-size: 15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#search_form_button{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #6750A4;
    color: white;
    height: 35px;
    font-size: 15px;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#search_form_button:hover{
    background-color: #4f2ea8;
}

.filter-tabs{
    padding-left: 15px;
}

.filter-container{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 20px;
    gap: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: white solid 1px;
}

.filter-tabs-container{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    border: #09020E solid 1px;
}

.select-options-container{
    padding-left: 15px;
    display: flex;
    flex-direction: row;
}

#year_published,
#course_option,
#field_study_option{
    width: 100%;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 17px;
    border-radius: 5px;
    height: 35px;
    font-size: 15px;
}

.filter-tabs-course-field-container{
    display: flex;
    flex: 1;
    flex-direction: column;
}

#filter_button{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-left: 57px;
    padding-right: 57px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #6750A4;
    color: white;
    height: 35px;
    font-size: 15px;
    margin-top: 25px;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#filter_button:hover{
    background-color: #4f2ea8;
}

.study-card-container{
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 100%;
    overflow-y: auto;
    /* background-color: #88EC3A; */
}

.study-card-details{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 5px;
    border: #292734 solid 1px;
    background-color: #170523;
    border-radius: 20px;
    cursor: pointer;
}

.study-card-details:hover{
    background-color: #210831;
}

.left-card-details{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.card-study-title{
    font-size: 20px;
    font-weight: bolder;
}

.card-publication-date,
.card-course,
.card-category,
.card-field-study{
    font-size: 15px;
    font-weight: 300;
}

.card-authors{
    margin-top: 20px;
    font-size: 15px;
    font-weight: 300;
}

.right-card-details{
    display: flex;
    flex-direction: column;
    flex: 0 30%;
    text-align: end;
}

.view-book-details-container{
    /* display: flex; */
    display: none;
    flex-direction: column;
    flex: 1;
    color: white;
    background-color: #170523;
}

#back_button_view{
    width: 45px;
    height: 45px;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.margin-container{
    margin-left: 30px;
    margin-top: 20px;
    height: 100%;
    overflow-y: auto;
}

.course-category-container,
.authors-panels-container,
.original-summarized-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.details-course-container,
.details-category-container,
.details-authors-container,
.details-panels-container,
.details-original-container,
.details-summarized-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 30px;
}

#study_title,
.details-course-title,
.details-category-title,
.details-authors-title,
.details-panels-title,
.details-original-title,
.details-summarized-title{
    font-size: 20px;
    font-weight: bolder;
}

#publication_date,
#details_course_value,
#details_category_value,
#details_authors_value,
#details_panels_value{
    font-size: 15px;
    font-weight: 300;
    padding-left: 10px;
}

.details-original-container embed,
.details-summarized-container embed{
    flex-shrink: 0;
    width: auto;
    height: 80vh;
}

#MOA_container{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    cursor: pointer;
}

#MOA_container img{
    width: 17px;
    height: 16px;
}

.MOA-title{
    font-size: 15px;
    font-weight: 300;
    padding-left: 10px;
    color: #A904FE;
}

/* ********DASHBOARD******** */
#dashboard_content_container{
    display: flex;
    /* display: none; */
    flex-direction: column;
    flex: 1;
    color: white;
    height: 100%;
    max-height: 90vh;
    overflow-y: auto;
}

.dashboard-welcome-text{
    display: flex;
    padding: 20px;
}

.dashboard-welcome-text p{
    font-style: italic;
}

.dashboard-welcome-text span{
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
}

.dashboard-total-book-numbers-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.undergraduate-container,
.graduate-container,
.masteral-container,
.dissertation-container,
.doctorate-container{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: #A904FE solid 1px;
    background-color: black;
    padding: 10px;
    justify-content: center;
    align-items: center;
    color: white;
}

#undergraduate_total_value,
#graduate_total_value,
#masteral_total_value,
#dissertation_total_value,
#doctorate_total_value{
    font-size: 35px;
    font-weight: 800;
    color: #A904FE; 
}

.dashboard-published-books-container,
.dashboard-published-books-per-category-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
}

#cs_published_books_container,
#it_published_books_container,
#is_published_books_container,
#cs_published_books_per_category_container,
#it_published_books_per_category_container,
#is_published_books_per_category_container{
    display: flex;
    flex-direction: column;
    background-color: #370054;
    border-radius: 10px;
    padding: 10px;
}

#cs_published_books_container p,
#it_published_books_container p,
#is_published_books_container p,
#cs_published_books_per_category_container p,
#it_published_books_per_category_container p,
#is_published_books_per_category_container p{
    font-size: 15px;
    font-weight: 600;
}

#cs_published_books_container span,
#it_published_books_container span,
#is_published_books_container span,
#cs_published_books_per_category_container span,
#it_published_books_per_category_container span,
#is_published_books_per_category_container span{
    font-size: 20px;
    font-weight: 600;
    color: #6fe211;
}

#dashboard_all_total_published_books{
    display: flex;
    flex-direction: column;
    /* background-color: #0F2A4A; */
    background-color: #370054;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}

#dashboard_all_total_published_books p{
    font-size: 20px;
    font-weight: 600;
    /* color: #fbff00; */
}

#dashboard_all_total_published_books span{
    font-size: 25px;
    font-weight: 700;
    color: #6fe211;
}

.apexcharts-menu {
    background-color: #333 !important; 
    color: #fff !important; 
    border: 1px solid #555; 
}

.apexcharts-menu-item:hover {
    background-color: #444 !important; 
    color: #fff !important;
}

/* ************LOGIN MODAL*********** */
#login_modal_container{
    /* display: flex; */
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 11;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
    background-color: #23013dc0;
}

.login-modal-content{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    border-radius: 20px;
    overflow-y: auto;
    max-height: 95vh;
    padding: 20px;
    width: 25%;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.726);
}

#login_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.close-button-form{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    color: black;
    width: 100%;
}

#close_button_form{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: rgba(0, 0, 0, 0.199) solid 1px;
}

#close_button_form:hover{
    background-color: #09020e36;
}

#avatar_login_icon1{
    width: 100px;
    height: 100px;
}

.login-title{
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 20px;
}

.email-container,
.password-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}

#login_button_form{
    display: flex;
    color: white;
    width: 50%;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    background-color: #0411c0;
    cursor: pointer;
}

#login_button_form:hover{
    background-color: #2832be;
}

#loading_div{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #12153fa9;
}
#loading_div img{
    width: auto;
    height: 100px;
}