@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #09020E;
    color: white;
    overflow: hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    padding: 1px 5%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    margin: 0;
}

.logo-img {
    width: 50px;
    height: 50px;
    object-fit: cover; 
}

#navbar a {
    position: relative;
    font-size: 1vw;
    color: white;
    font-weight: 700;
    text-decoration: none;
    margin-left: 2vw;
    transition: color 0.3s; 
}

#navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #88EC3A;
    transition: width 0.3s; 
}

#navbar a:hover {
    color: #ae00ff; 
}

#navbar a:hover::before {
    width: 100%;
}

.scrolled {
    background-color: rgba(1, 27, 61, 0.479); 
    transition: background-color 0.3s;
}

#loginButton,
#logoutButton{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    background-color: #1e4ce4;
}

.summary-result-container{
    display: flex;
    flex-direction: row; 
    margin-top: 60px;
    height: 90vh;
    min-height: 90vh;
    max-height: 100vh; 
    z-index: 100;
    /* border: white 1px solid; */
}

/* **************************************** */
.side-bar-container{
    display: flex;
    flex-direction: column;
    flex: 0 15%;
    border-top: white 3px solid;
    background-color: #09020ece;
}

.side-bar-content-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
    max-height: 90vh;
    overflow-y: auto;
    border-top: white 3px solid;
    border-left: white 1px solid;
}

.side-bar-options-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    /* border: white 1px solid; */
}

.side-bar-copyright-text-container{
    display: flex;
    flex-direction: column;
    flex: 0 10%;
    text-align: center;
}

.imrad-summary-option-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border-radius: 10px;
}

.option-title-container{
    margin-bottom: 5px;
    padding: 10px;
    font-size: 18px;
    border-bottom: white 1px solid;
}

#uploaded_files{
    display: flex;
    flex-direction: column;
    flex: 1;
    max-height: 70vh;
    padding-left: 10px;
    overflow-y: auto;
}

#uploaded_files li{
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
}

#uploaded_files li:hover{
    background-color: #240836;
}

.active-document-clicked{
    background-color: #240836;
}

.summary-result-options{
    display: flex;
    flex: 1;
    word-wrap: break-word;  
    overflow-wrap: break-word;
    word-break: break-all;  
    max-width: 100%;  
    cursor: pointer;
    padding-left: 20px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    background-color: #2811389a;
    border-radius: 5px;
}

.summary-result-options:hover{
    border-bottom: white 1px solid;
}

.chat-with-pdf-option-container{
    display: flex;
    flex-direction: column;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: white 1px solid;
}

.related-study-option-container{
    display: flex;
    flex-direction: column;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: white 1px solid;
}

.imrad-summary-result-container{
    /* display: none; */
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-bottom: 10px;
    /* border: solid white 1px; */
}

.imrad-summary-result-title{
    font-size: 20px;
}

.titlePurple{
    color: #500079;
}

.imrad-summary-result-content{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
    max-height: 78vh;
    flex-shrink: 0;
    padding: 10px;
    /* border: white solid 1px; */
}

.imrad-summary-result-content-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 80vh;
    flex-shrink: 0;
    margin-bottom: 20px;
}

.original-pdf-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 80vh;
    flex-shrink: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: white 1px solid;
}

.original-pdf-container embed {
    width: 100%; 
    height: 100%; 
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.summarized-pdf-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 80vh;
    flex-shrink: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: white 1px solid;
}

.summarized-pdf-container embed {
    width: 100%; 
    height: 100%; 
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.imrad-summary-result-download-button{
    background-color: #500079;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    border-radius: 15px;
    cursor: pointer;
}

.chat-with-pdf-content-container{
    display: none;
    /* display: flex; */
    flex-direction: column;
    flex: 1;
}

.chat-with-pdf-content-title h1{
    font-size: 40px;
}

.chat-with-pdf-chat-content{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    border: white 3px solid;
}

.bot-chat-message-content{
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    /* border: white 1px solid; */
}

.text-box-container{
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: #261036;
    border-radius: 10px;
    margin-top: 10px;
}

.text-input {
    display: flex;
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    /* outline: none; */
    font-size: 16px;
    color: white;
    background-color: transparent;
}
  
.send-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
  
.send-button:hover {
    background-color: #45a049;
}

.related-study-content-container{
    display: none;
    /* display: flex; */
    flex-direction: column;
    flex: 1;
    padding-left: 20px;
    padding-right: 20px;
}

.related-study-title{
    margin-bottom: 20px;
}

.related-study-title h1{
    font-size: 50px;
}

.related-study-content-details{
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    max-height: 680px;
    /* border: white 1px solid; */
}

.study-content-details-card{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #170523;
    border-radius: 10px;
    margin-bottom: 10px;
}

.related-study-study-title{
    font-size: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

/* ************LOGIN MODAL*********** */
#login_modal_container{
    /* display: flex; */
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 11;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
    background-color: #23013dc0;
}

.login-modal-content{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    border-radius: 20px;
    overflow-y: auto;
    max-height: 95vh;
    padding: 20px;
    width: 25%;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.726);
}

#login_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.close-button-form{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    color: black;
    width: 100%;
}

#close_button_form{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: rgba(0, 0, 0, 0.199) solid 1px;
}

#close_button_form:hover{
    background-color: #09020e36;
}

#avatar_login_icon1{
    width: 100px;
    height: 100px;
}

.login-title{
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 20px;
}

.email-container,
.password-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}

#login_button_form{
    display: flex;
    color: white;
    width: 50%;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    background-color: #0411c0;
    cursor: pointer;
}

#login_button_form:hover{
    background-color: #2832be;
}

.dot {
    position: absolute;
    top: -200px;
    right: -200px;
    z-index: 1;
}

.dot2 {
    position: absolute;
    top: 100px;
    left: -200px;
    z-index: 1;
}

#loading_div{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #12153fa9;
}
#loading_div img{
    width: auto;
    height: 100px;
}

.uploaded-file-names{
    max-width: 170px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}