<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_add_edit.css') }}">
    <script src="{{ url_for('static', filename='js/admin/admin_add_edit.js') }}" type="module"></script>
    <title>SummPy | COS Library</title>
</head>
<body>
    <div class="admin-cos-library-books">
        <div class="header">
            <a href="{{ url_for('home.home_page') }}">
                <img src="{{ url_for('static', filename='images/LOGO.gif') }}" alt="Logo" class="logo-img">
            </a>
            <div id="navbar">
                <a href="{{url_for('home.home_page')}}">HOME</a>
                <a href="{{url_for('how_to_use.how_to_use_page')}}">HOW TO USE</a>
                <a href="{{url_for('about_us.about_us_page')}}">ABOUT US</a>
                <a href="{{url_for('donate.donate_page')}}">DONATE</a>
            </div>
        </div>

        <div class="content-containers">
            <div class="side-bar-menu">
                <div id="dashboard_tab" class="side-bar-tabs">
                    <img src="{{ url_for('static', filename='images/dashboard_icon1.png') }}" alt="">
                    <p>Dashboard</p>
                </div>
                <p class="books-tabs">Books</p>
                <div id="under_graduate_tab" class="side-bar-tabs">
                    <img src="{{ url_for('static', filename='images/under_graduate_icon1.png') }}" alt="">
                    <p>Under Graduate</p>
                </div>
                <div id="graduate_tab" class="side-bar-tabs">
                    <img src="{{ url_for('static', filename='images/graduate_icon1.png') }}" alt="">
                    <p>Graduate</p>
                </div>
                <div id="masteral_tab" class="side-bar-tabs">
                    <img src="{{ url_for('static', filename='images/masteral_icon1.png') }}" alt="">
                    <p>Masteral</p>
                </div>
                <div id="dissertation_tab" class="side-bar-tabs">
                    <img src="{{ url_for('static', filename='images/dissertation_icon1.png') }}" alt="">
                    <p>Dissertation</p>
                </div>
                <div id="doctorate_tab" class="side-bar-tabs">
                    <img src="{{ url_for('static', filename='images/doctorate_icon1.png') }}" alt="">
                    <p>Doctorate</p>
                </div>
            </div>

            <div class="main-content-container">
                <img src="{{ url_for('static', filename='images/arrow.png') }}" alt="arrow" id="back_button">

                <form action="" id="add_edit_book_form">
                    <div class="title-container">
                        <label for="studyTitle" class="title-text-form">STUDY TITLE</label>
                        <input type="text" id="studyTitle" name="studyTitle" placeholder="Title" required>
                    </div>
                    
                    <div class="date-category-container">
                        <div class="published-date-container">
                            <p class="title-text-form">Published Date</p>
                            <div class="day-month-year-container">
                                <div class="day-container">
                                    <label for="dayInputValue">Day</label>
                                    <input type="number" id="day_input_value" name="dayInputValue" placeholder="DD" required>
                                </div>
                                <div class="month-container">
                                    <label for="monthInputValue">Month</label>
                                    <select name="categories" id="month_input_value" required>
                                        <option value="JANUARY">JANUARY</option>
                                        <option value="FEBRUARY">FEBRUARY</option>
                                        <option value="MARCH">MARCH</option>
                                        <option value="APRIL">APRIL</option>
                                        <option value="MAY">MAY</option>
                                        <option value="JUNE">JUNE</option>
                                        <option value="JULY">JULY</option>
                                        <option value="AUGUST">AUGUST</option>
                                        <option value="SEPTEMBER">SEPTEMBER</option>
                                        <option value="OCTOBER">OCTOBER</option>
                                        <option value="NOVEMBER">NOVEMBER</option>
                                        <option value="DECEMBER">DECEMBER</option>
                                    </select>
                                </div>
                                <div class="year-container">
                                    <label for="yearInputValue">Year</label>
                                    <input type="number" id="year_input_value" name="yearInputValue" placeholder="YYYY" required>
                                </div>
                            </div> 
                        </div>

                        <div class="select-category-container">
                            <p class="title-text-form">Select Category</p>
                            <p class="category-subtitle1">Categories</p>
                            <select name="categories" id="selected_category" required>
                                <option value="UNDER_GRADUATE">Under Graduate</option>
                                <option value="GRADUATE">Graduate</option>
                                <option value="DISSERTATION">Dissertation</option>
                                <option value="MASTERAL">Masteral</option>
                                <option value="DOCTORATE">Doctorate</option>
                            </select>
                        </div>
                    </div>

                    <p class="title-text-form other-details-text">Other Details</p>

                    <div class="course-field-container">
                        <div class="course-container">
                            <p>Course</p>
                            <select name="course" id="selected_course" required>
                                <option value="BS_COMPUTER_SCIENCE">BS Computer Science</option>
                                <option value="BS_INFORMATION_TECHNOLOGY">BS Information Technology</option>
                                <option value="BS_INFORMATION_SYSTEM">BS Information System</option>
                            </select>
                        </div>
                        <div class="field-study-container">
                            <p>Field of the study <span>(separated by comma)</span></p>
                            <textarea type="text" id="field_of_the_study" name="fieldOfTheStudy" placeholder="Artificial Intelligence, Machine Learning" required></textarea>
                        </div>
                    </div>

                    <div class="authors-container">
                        <p class="title-text-form">Authors</p>
                        <div id="author_list_main_container"></div>
                        <div id="add_author_container">
                            <img src="{{ url_for('static', filename='images/add.png') }}" alt="">
                            <p>Add another author</p>
                        </div>
                    </div>

                    <div class="panels-container">
                        <p class="title-text-form">Panels</p>
                        <div id="panel_list_main_container"></div>
                        <div id="add_panel_container">
                            <img src="{{ url_for('static', filename='images/add.png') }}" alt="">
                            <p>Add another panel</p>
                        </div>
                    </div>

                    <div class="study-document-container">
                        <p class="title-text-form">Upload study document</p>
                        <input type="file" id="moa_file" required>
                    </div>

                    <div class="moa-container">
                        <p class="title-text-form">Memorandum of Agreement <span>(if applicable)</span></p>
                        <input type="file" id="moa_file">
                    </div>

                    <div class="sumbit-button-container">
                        <button>SUMBIT</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        function removeAuthorDiv(divID){
            console.log("Removed: "+divID);
            const removeDivID = document.getElementById(divID);
            if (removeDivID) {
                removeDivID.remove(); 
            } else {
                alert("Not exist.");
            }
        }
    </script>
</body>
</html>