<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
    <title>SummPy | 5-pager Summarizer</title>
</head>

<body>
    <header class="header">
        <a href="{{ url_for('home.home_page') }}" class="logo">
            <img src="{{ url_for('static', filename='images/LOGO.gif') }}" alt="Logo" class="logo-img">
        </a>
        
        <nav class="navbar">
            <a href="{{url_for('home.home_page')}}">HOME</a>
            <a href="{{url_for('about.about_page')}}">HOW TO USE</a>
            <a href="{{url_for('get_started.get_started_page')}}">ABOUT US</a>
            <a href="{{url_for('donate.donate_page')}}">DONATE</a>
        </nav>
    </header>

<div class="whole">
            
            <div class="first">
                <div class="text-container">
                    <p class="follow-text">FOLLOW OUR</p>
                    <p class="neon-text">
                        <span style="color: white;">3</span> 
                        <span style="color: #500079">BASIC</span> 
                        <span style="color: white;">STEPS</span>
                    </p>
                    <img src="{{ url_for('static', filename='images/steps.png') }}" alt="steps" class="steps-image">
                </div>
            </div>
            
        <div class="second">
            <p class="neon-text">
                    <span style="color: white; font-size: 6rem;">ADDITIONAL</span> 
                    <span style="color: #500079; font-size: 6rem;" >FEATURES</span>
            </p>
            <p class="neon-text" style="color: white; font-size: 6rem;">THAT YOU CAN TRY</p>
            <img src="{{ url_for('static', filename='images/features.png') }}" alt="features" class="features-image" style="margin-top: -100px;">
        </div>

        <div class="footer">
            <a href="{{ url_for('home.home_page') }}" class="logo">
                <img src="{{ url_for('static', filename='images/LOGO.gif') }}" alt="Logo" style="width: 200px; height: 200px; object-fit: contain;">
            </a>
            
            <h2> IMRAD Document Summarizer</h2>

            <div class="links">
                <a href="{{url_for('home.home_page')}}">HOME</a>
                <a href="{{url_for('about.about_page')}}">HOW TO USE</a>
                <a href="{{url_for('get_started.get_started_page')}}">ABOUT US</a>
                <a href="{{url_for('donate.donate_page')}}">DONATE</a>
            </div>

            <p> © 2024 SummPy. All rights reserved. </p>
        </div>
</div>

    <img class="dot" src="{{ url_for('static', filename='images/polka.png') }}">
    <img class="dot2" src="{{ url_for('static', filename='images/polka.png') }}">
    <img class="dot3" src="{{ url_for('static', filename='images/polka.png') }}">
    <img class="dot3-1" src="{{ url_for('static', filename='images/polka.png') }}">
    <img class="dot4" src="{{ url_for('static', filename='images/polka.png') }}">
    <img class="dot5" src="{{ url_for('static', filename='images/polka.png') }}">

    <script>
        window.addEventListener('scroll', function() {
            const header = document.querySelector('.header');
            if (window.scrollY > 50) {
                header.classList.add('scrolled');
            } else {
                header.classList.remove('scrolled');
            }
        });
    </script>

</body>
</html>
