<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
    <title>SummPy | 5-pager Summarizer</title>
</head>

<body>
    <header class="header">
        <a href="{{ url_for('home.home_page') }}" class="logo">
            <img src="{{ url_for('static', filename='images/LOGO.gif') }}" alt="Logo" class="logo-img">
        </a>
        
        <nav class="navbar">
            <a href="{{url_for('home.home_page')}}">HOME</a>
            <a href="{{url_for('about.about_page')}}">HOW TO USE</a>
            <a href="{{url_for('get_started.get_started_page')}}">ABOUT US</a>
            <a href="{{url_for('donate.donate_page')}}">DONATE</a>
        </nav>
    </header>

    <!-- New Text Content -->
    <div class="text-container">
        <p class="follow-text">FOLLOW OUR</p>
        <p class="steps-text">3 BASIC STEPS</p>
    </div>
  
    <img class="dot" src="{{ url_for('static', filename='images/polka.png') }}">
    <img class="dot2" src="{{ url_for('static', filename='images/polka.png') }}">
    <img class="dot3" src="{{ url_for('static', filename='images/polka.png') }}">
    <img class="dot3-1" src="{{ url_for('static', filename='images/polka.png') }}">

    <script>
        window.addEventListener('scroll', function() {
            const header = document.querySelector('.header');
            if (window.scrollY > 50) {
                header.classList.add('scrolled');
            } else {
                header.classList.remove('scrolled');
            }
        });
    </script>

</body>
</html>
