<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
    <title>SummPy | 5-pager Summarizer</title>
</head>

<body>
    <div class="home-container">
        <div class="first-section">
            <div class="nav-box-container">
                <nav>
                    <ul>
                        <li>
                            <a href="{{url_for('home.home_page')}}" class="box">
                                HOME
                            </a>
                        </li>
                        <li>
                            <a href="{{url_for('about.about_page')}}" class="box">
                                HOW TO USE
                            </a>
                        </li>
                        <li>
                            <a href="{{url_for('get_started.get_started_page')}}" class="box">
                                ABOUT US
                            </a>
                        </li>
                        <li>
                            <a href="{{url_for('donate.donate_page')}}" class="box">
                                DONATE
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <hr class="header-line">
</body>

</html>