<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SummPy | 5-pager Summarizer</title>

    <link rel="stylesheet" href="css/COS Library - Admin and Student Dashboard.css">

    <!-- FOR ICON -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <!-- Load ApexCharts Library -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</head>

<body>
    <div class="grid-container">

        <!-- ====================== Header ======================-->
        <header class="header">            
            <nav>
                <ul>
                    <li><a href="{{ url_for('home.home_page') }}">HOW</a></li>
                    <li><a href="{{ url_for('how_to_use.how_to_use_page') }}">HOW TO USE</a></li>
                    <li><a href="{{ url_for('about_us.about_us_page') }}">ABOUT US</a></li>
                    <li><a href="#">COS LIBRARY</a></li>
                    <li><a href="{{ url_for('donate.donate_page') }}">DONATE</a></li>
                </ul>
            </nav>
        </header>
        <!-- End header -->

        <!-- =============== MAIN CONTENT ================= -->
   <!-- ================== MAIN CONTENT ================= -->
<main class="main-container">
    <!-- Back Link in Main Content -->
    <div class="back-link">
        <a href="{{ url_for('previous_page') }}">
            <i class="fas fa-arrow-left"></i> 
        </a>
    </div>

    <div class="cards-wrapper">
        <div class="main-cards">
            <div class="card">
                <div class="card-inner">
                    <div class="card-number">139</div>
                    <img src="{{ url_for('static', filename='docs.png') }}" alt="Docs-icon" class="card-icon">
                    <h3>TOTAL NUMBERS OF DOCUMENTS</h3>
                </div>
            </div>

            <div class="card">
                <div class="card-inner">
                    <div class="card-number">139</div>
                    <img src="{{ url_for('static', filename='images/docsperyear.png') }}" alt="Docsperyear-icon" class="card-icon">
                    <h3>TOTAL NUMBERS OF DOCUMENTS PER YEAR</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="charts">
        <div class="charts-card">
            <h2 class="chart-title">Documents Per Year</h2>
            <div id="bar-chart"></div>
        </div>

    </div>
</main>

    </div>
 <!-- End grid container -->

    <!-- =========== SCRIPTS ========== -->
    <!-- APEXCHARTS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/4.0.0/apexcharts.min.js"></script>
        
    <!--============ JS ==============-->
    <script src="js/scripts.js"></script>

    
</body>
</html>
