<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/donate.css') }}">
    <title>Donate</title>
</head>
<body>
    <div class="home-container">
        <div class="first-section">
            <div class="nav-box-container">
                <nav>
                    <ul>
                        <li>
                            <a href="{{url_for('home.home_page')}}" class="box">
                                HOME
                            </a>
                        </li>
                        <li>
                            <a href="{{url_for('about.about_page')}}" class="box">
                                HOW TO USE
                            </a>
                        </li>
                        <li>
                            <a href="{{url_for('get_started.get_started_page')}}" class="box">
                                ABOUT US
                            </a>
                        </li>
                        <li>
                            <a href="{{url_for('donate.donate_page')}}" class="box">
                                DONATE
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <hr class="header-line">
            
        <div class="content-container">
            <div class="qr-container">
                <img src="{{ url_for('static', filename='images/gcash.png') }}" alt="QR Code">
            </div>
            <div class="verse-container">
                <img class="verse-icon" src="{{ url_for('static', filename='images/icon.png') }}" alt="Icon">
                <br><br>
                <p class="verse">Proverbs 11:25 <br><br> "A generous person will prosper; whoever refreshes others will be refreshed."</p>
            </div>
        </div>
</body>
</html>
