<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/donate.css') }}">
    <title>Donate</title>
</head>
<body>

    <header class="header">
        <a href="{{ url_for('home.home_page') }}" class="logo">
            <img src="{{ url_for('static', filename='images/LOGO.gif') }}" alt="Logo" class="logo-img">
        </a>
        

        <nav class="navbar">
            <a href="{{url_for('home.home_page')}}">HOME</a>
            <a href="{{url_for('about.about_page')}}">HOW TO USE</a>
            <a href="{{url_for('get_started.get_started_page')}}">ABOUT US</a>
            <a href="{{url_for('donate.donate_page')}}">DONATE</a>
        </nav>
    </header>
    
    <div class="whole">
        <h1 class="whole2">THANK YOU <span>FOR YOUR KINDNESS</span></h1>
        <div class="kind">
            <div class="verse">
                <img src="{{ url_for('static', filename='images/icon.png') }}">
                <h1 class="proverbs"> Proverbs 11:25 </h1>
                <h1 class="generous"> "A generous person will prosper; whoever refreshes others will be refreshed."</h1>
            </div>
            <div class="gcash">
                <img src="{{ url_for('static', filename='images/gcash.png') }}">
            </div>
        </div>
        <div class="footer">
            <a href="{{ url_for('home.home_page') }}" class="logo">
                <img src="{{ url_for('static', filename='images/LOGO.gif') }}" alt="Logo" style="width: 200px; height: 200px; object-fit: contain;">
            </a>
            
            <h2> IMRAD Document Summarizer</h2>

            <div class="links">
                <a href="{{url_for('home.home_page')}}">HOME</a>
                <a href="{{url_for('about.about_page')}}">HOW TO USE</a>
                <a href="{{url_for('get_started.get_started_page')}}">ABOUT US</a>
                <a href="{{url_for('donate.donate_page')}}">DONATE</a>
            </div>

            <p> © 2024 SummPy. All rights reserved. </p>
        </div>

    </div>

    <img class="dot" src="{{ url_for('static', filename='images/polka.png') }}">
    <img class="dot1" src="{{ url_for('static', filename='images/polka.png') }}">
    <img class="dot2" src="{{ url_for('static', filename='images/polka.png') }}">
    
</body>
</html>
