<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/get_started.css') }}">
    <title>SummPy | 5-pager Summarizer</title>
</head>

<body>
    <img class="bg" src="{{ url_for('static', filename='images/11.png') }}" alt="main background" width="1920" height="1080">
    <div class="hero">
        <div class="nav-container">
            <nav>
                <ul>
                    <li>
                        <a class="home-button" href="{{url_for('home.home_page')}}">HOME</a>
                    </li>
                    <li>
                        <a href="{{url_for('about.about_page')}}">HOW TO USE</a>
                    </li>
                    <li>
                        <a href="{{url_for('get_started.get_started_page')}}">ABOUT US</a>
                    </li>
                    <li>
                        <a href="{{url_for('donate.donate_page')}}">DONATE</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <h1>Meet The Team</h1>

    <div class="team-container">
        <div class="team-member">
            <div class="profile-pic">
                <img src="{{ url_for('static', filename='images/barips.png') }}" alt="Member 1">
            </div>
            <h2>Angelo Barrios</h2>
            <h3>Backend Developer</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <div class="social-media">
                <a href="https://www.facebook.com/angeloooooools" target="_blank"><img src="{{ url_for('static', filename='images/facebook.png') }}" alt="Facebook"></a>
                <a href="https://github.com/" target="_blank"><img src="{{ url_for('static', filename='images/github.png') }}" alt="GitHub"></a>
            </div>
        </div>

        <div class="team-member">
            <div class="profile-pic">
                <img src="{{ url_for('static', filename='images/phia.png') }}" alt="Member 2">
            </div>
            <h2>Sophia Mer Enriquez</h2>
            <h3>Frontend Developer</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <div class="social-media">
                <a href="https://www.facebook.com/05sophia" target="_blank"><img src="{{ url_for('static', filename='images/facebook.png') }}" alt="Facebook"></a>
                <a href="https://github.com/enriquez05" target="_blank"><img src="{{ url_for('static', filename='images/github.png') }}" alt="GitHub"></a>
            </div>
        </div>

        <div class="team-member">
            <div class="profile-pic">
                <img src="{{ url_for('static', filename='images/janna.png') }}" alt="Member 3">
            </div>
            <h2>Janna Rose Herrera</h2>
            <h3>Frontend Developer</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <div class="social-media">
                <a href="https://www.facebook.com/herrera.janna" target="_blank"><img src="{{ url_for('static', filename='images/facebook.png') }}" alt="Facebook"></a>
                <a href="https://github.com/" target="_blank"><img src="{{ url_for('static', filename='images/github.png') }}" alt="GitHub"></a>
            </div>
        </div>

        <div class="team-member">
            <div class="profile-pic">
                <img src="{{ url_for('static', filename='images/mirai.png') }}" alt="Member 4">
            </div>
            <h2>Almira Jill Garcia</h2>
            <h3>DA</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <div class="social-media">
                <a href="https://facebook.com/" target="_blank"><img src="{{ url_for('static', filename='images/facebook.png') }}" alt="Facebook"></a>
                <a href="https://github.com/" target="_blank"><img src="{{ url_for('static', filename='images/github.png') }}" alt="GitHub"></a>
            </div>
        </div>

        <div class="team-member">
            <div class="profile-pic">
                <img src="{{ url_for('static', filename='images/oloroso.png') }}" alt="Member 5">
            </div>
            <h2>Andrew Oloroso</h2>
            <h3>Backend Developer</h3>
            <p>sheeeeesh basic</p>
            <div class="social-media">
                <a href="https://www.facebook.com/aroloroso" target="_blank"><img src="{{ url_for('static', filename='images/facebook.png') }}" alt="Facebook"></a>
                <a href="https://github.com/" target="_blank"><img src="{{ url_for('static', filename='images/github.png') }}" alt="GitHub"></a>
            </div>
        </div>
    </div>
</body>
</html>
