<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/get_file.css') }}">
    <title>SummPy | 5-pager Summarizer</title>
</head>
<body>
    <img class="bg" src="{{ url_for('static', filename='images/6.png') }}" alt="main background" width="1920" height="1080">

    <a href="{{url_for('home.home_page')}}" class="back-to-home">Back to Home</a>

    <h1>Upload your document</h1>

    <form action="{{ url_for('get_file.get_file_page') }}" method="POST" enctype="multipart/form-data">
        <div class="upload-box" id="upload-box">
            <span>Select or Drop a file</span>
            <h3>We support .pdf, .doc, .docx files up to 100 MB</h3>
            <input type="file" id="file-input" name="file" required>
        </div>
    </form>

    <!-- show the uploaded file here -->
    {% if uploaded_files %}
    <div class="uploaded-file">
        <h2>Uploaded File:</h2>
        <ul>
            {% for file in uploaded_files %}
            <li><a href="{{ url_for('static', filename='uploads/' ~ file) }}" target="_blank">{{ file }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <button onclick="redirect_to_next_page()" class="summ-btn" id="summ-btn">SUMMARIZE</button>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const fileInput = document.getElementById('file-input');
            check_uploaded_files();

            fileInput.addEventListener('change', function() {
                if (fileInput.files.length > 0) {
                    // Auto-submit the form
                    this.form.submit();
                } 
            });

            // Display flash messages as alerts
            const flashMessage = "{{ get_flashed_messages()[0] }}";
            if (flashMessage) {
                alert(flashMessage);
            }
        });

        function check_uploaded_files(){
            const uploadedFiles = JSON.parse('{{ uploaded_files|tojson|safe }}');
            const submitButton = document.getElementById('summ-btn');
            if (uploadedFiles.length > 0) {
                console.log("Uploaded files:", uploadedFiles);
                submitButton.style.backgroundColor = 'blue';
                submitButton.disabled = false;
            } else {
                submitButton.style.backgroundColor = 'red';
                submitButton.disabled = true;
            }
        }

        function redirect_to_next_page(){
            window.location.href = "{{ url_for('get_file_pages.get_file_pages_page') }}";
        }
    </script>
</body>
</html>
