<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/get_file_pages.css') }}">
    <script src="{{ url_for('static', filename='js/home.js') }}" type="module"></script>
    <title>SummPy | 5-pager Summarizer</title>
</head>
<body>
    <div class="get-file-pages-main-container">
        <div class="header">
            <a href="{{ url_for('home.home_page') }}">
                <img src="{{ url_for('static', filename='images/LOGO.gif') }}" alt="Logo" class="logo-img">
            </a>
            <!-- 
                navbar options will depend if the current user is logged in or not.
                if not then user cant view the cos library.
                if user is student then they can view the cos library
                and if they summarize a document then we can recommend
                related studies base on the study uploaded.
                if user is admin then they have CRUD access to cos library.
            -->
            <div id="navbar"
                data-home-url="{{ url_for('home.home_page') }}"
                data-how-to-use-url="{{ url_for('how_to_use.how_to_use_page') }}"
                data-about-us-url="{{ url_for('about_us.about_us_page') }}"
                data-donate-url="{{ url_for('donate.donate_page') }}"
                data-admin-url="{{ url_for('admin_cos_library.admin_cos_library_page') }}"
                data-student-url="{{url_for('student_cos_library.student_cos_library_page')}}">
            </div>
        </div>
        
        <div class="title-container">
            <h1>
                Please <span class="titlePurple">input</span> 
                the following <span class="titlePurple">page number</span> for 
                <span class="titlePurple">each chapters</span>
            </h1>
        </div>

        <div class="display-content-container">
            <!-- dynamically display the files here -->
            <form action="{{ url_for('get_file_pages.get_file_pages_page') }}" method="POST" id="formInput">
                {% for file in uploaded_files %}
                    <div class="get-file-content-page">
                        <div class="display-pdf-container">
                            <embed src="{{ url_for('static', filename='uploads/' + file) }}" type="application/pdf">
                        </div>
        
                        <div class="get-file-pages-container2">
                            <p class="file-name-p">{{ file }}</p>
        
                            <!-- get chapters pages inputs -->
                            <div class="chapter">
                                <label for="{{ file }}_chapter_1">Chapter 1  : </label>
                                <input type="number" id="{{ file }}_chapter_1" name="{{ file }}_chapter_1" placeholder="Page Number" required>
                            </div>
                            <div class="chapter">
                                <label for="{{ file }}_chapter_2">Chapter 2 : </label>
                                <input type="number" id="{{ file }}_chapter_2" name="{{ file }}_chapter_2" placeholder="Page Number" required>
                            </div>
                            <div class="chapter">
                                <label for="{{ file }}_chapter_3">Chapter 3 : </label>
                                <input type="number" id="{{ file }}_chapter_3" name="{{ file }}_chapter_3" placeholder="Page Number" required>
                            </div>
                            <div class="chapter">
                                <label for="{{ file }}_chapter_4">Chapter 4 : </label>
                                <input type="number" id="{{ file }}_chapter_4" name="{{ file }}_chapter_4" placeholder="Page Number" required>
                            </div>
                            <div class="chapter">
                                <label for="{{ file }}_chapter_5">Chapter 5 : </label>
                                <input type="number" id="{{ file }}_chapter_5" name="{{ file }}_chapter_5" placeholder="Page Number" required>
                            </div>
                            <div class="chapter">
                                <label for="{{ file }}_bibliography_references">Bibliography or References : </label>
                                <input type="number" id="{{ file }}_bibliography_references" name="{{ file }}_bibliography_references" placeholder="Page Number" required>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </form>
        </div>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p id="errorMessage">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="buttons-container">
            <div id="backButton" onclick="goBack()">
                <p>BACK</p>
            </div>
            <div id="nextButton">
                <p>SUMMARIZE</p>
            </div>
        </div>
    </div>

    <div id="login_modal_container">
        <div class="login-modal-content">
            <form action="" id="login_form">
                <div class="close-button-form">
                    <p id="close_button_form">x</p>
                </div>
                <img src="{{ url_for('static', filename='images/avatar_login_icon1.png') }}" alt="" id="avatar_login_icon1">
                <p class="login-title">LOGIN</p>

                <div class="email-container">
                    <label for="emailInputValue">Email</label>
                    <input type="email" id="email_input_value" name="emailInputValue" placeholder="example@tup.edu.ph" required>
                </div>
                <div class="password-container">
                    <label for="passwordInputValue">Password</label>
                    <input type="password" id="password_input_value" name="passwordInputValue" placeholder="****" required>
                </div>
                <div id="login_button_form">
                    <p>LOGIN</p>
                </div>
            </form>
        </div>
    </div>

    <img class="dot" src="{{ url_for('static', filename='images/polka.png') }}">
    <img class="dot2" src="{{ url_for('static', filename='images/polka.png') }}">
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const formInput = document.getElementById("formInput");
            const nextButton = document.getElementById('nextButton');

            nextButton.addEventListener("click", function() {
                if (validateForm()) {
                    formInput.submit();
                }
            });
        });

        function validateForm() {
            const inputs = document.querySelectorAll('#formInput input[type="number"]');
            let isValid = true;
            let description = "";

            // Loop through each input and check if it has a value
            inputs.forEach(input => {
                if (input.value.trim() === "") {
                    isValid = false;
                    input.style.borderColor = "red";  
                    input.style.backgroundColor = "#b3003b";
                    description = 'It looks like you are missed some inputs.\nPlease complete the inputs first.';
                } else if (parseInt(input.value) <= 0){
                    isValid = false;
                    input.style.borderColor = "red";  
                    input.style.backgroundColor = "#b3003b";
                    description = 'It looks like you are enter invalid value.\nPlease input values greater than 0.';
                } else {
                    input.style.borderColor = "";  
                    input.style.backgroundColor = "#E26890";
                }
            });

            if (!isValid) {
                Swal.fire({
                        title: 'Ooops...',
                        text: description,
                        icon: 'warning',
                        confirmButtonText: 'OK'
                    });
            }
            return isValid;
        }

        function goBack() {
            window.history.back(); 
        }
    </script>
</body>
</html>
<!-- 
    test values 5 10 29 38 46 49
 -->