<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/get_file_pages.css') }}">
    <title>SummPy | 5-pager Summarizer</title>
</head>
<body>
    <div class="get-file-pages-container">
        <div class="nav-bar">
            <a href="{{url_for('get_file.get_file_page')}}" class="back-to-home">Return</a>
        </div>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <form action="{{ url_for('get_file_pages.get_file_pages_page') }}" method="POST" >
            {% for file in uploaded_files %}
            <h1 class="pdf-title">filename: {{ file }}</h1>
            <div class="pdf-files-container">
                <div class="display-pdf-pages">
                    <embed src="{{ url_for('static', filename='uploads/' + file) }}" type="application/pdf">
                </div>
                <div class="chapter-container">
                    <h2>Please input the following page number for each chapters.</h2>
                    <div class="chapter">
                        <label for="{{ file }}_chapter_1">Chapter 1:</label>
                        <input type="number" id="{{ file }}_chapter_1" name="{{ file }}_chapter_1" placeholder="Page number" required>
                    </div>
                    <div class="chapter">
                        <label for="{{ file }}_chapter_2">Chapter 2:</label>
                        <input type="number" id="{{ file }}_chapter_2" name="{{ file }}_chapter_2" placeholder="Page number" required>
                    </div>
                    <div class="chapter">
                        <label for="{{ file }}_chapter_3">Chapter 3:</label>
                        <input type="number" id="{{ file }}_chapter_3" name="{{ file }}_chapter_3" placeholder="Page number" required>
                    </div>
                    <div class="chapter">
                        <label for="{{ file }}_chapter_4">Chapter 4:</label>
                        <input type="number" id="{{ file }}_chapter_4" name="{{ file }}_chapter_4" placeholder="Page number" required>
                    </div>
                    <div class="chapter">
                        <label for="{{ file }}_chapter_5">Chapter 5:</label>
                        <input type="number" id="{{ file }}_chapter_5" name="{{ file }}_chapter_5" placeholder="Page number" required>
                    </div>
                    <div class="chapter">
                        <label for="{{ file }}_bibliography_references">Bibliography or References:</label>
                        <input type="number" id="{{ file }}_bibliography_references" name="{{ file }}_bibliography_references" placeholder="Page number" required>
                    </div>
                </div>
            </div>
            {% endfor %}

            <button type="submit">SUBMIT</button>
        </form>

        <!-- Display the submitted form data -->
        {% if form_data %}
        <div class="submitted-data">
            <h2>Submitted Data:</h2>
            <ul>
                {% for key, value in form_data.items() %}
                <li>{{ key }}: {{ value }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</body>
</html>
