<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/get_file.css') }}">
    <title>SummPy | 5-pager Summarizer</title>
</head>
<body>
    <div class="get-file-main-container">
        <div class="header">
            <a href="{{ url_for('home.home_page') }}">
                <img src="{{ url_for('static', filename='images/LOGO.gif') }}" alt="Logo" class="logo-img">
            </a>
            <div class="navbar">
                <a href="{{url_for('home.home_page')}}">HOME</a>
                <a href="{{url_for('how_to_use.how_to_use_page')}}">HOW TO USE</a>
                <a href="{{url_for('about_us.about_us_page')}}">ABOUT US</a>
                <a href="{{url_for('donate.donate_page')}}">DONATE</a>
            </div>
        </div>

        <div class="title-container">
            <h1><span class="titlePurple">Upload</span> your document</h1>
        </div>

        <div class="upload-container">
            <!-- this is where the user upload the file -->
            <form action="{{ url_for('get_file.upload_files') }}" method="POST" enctype="multipart/form-data" class="file-upload-container" id="dropDownForm">
                <input type="file" id="fileInput" name="file" accept=".pdf,.doc,.docx" multiple required>
                <p class="file-upload-text1">Select or Drop a file</p>
                <p class="file-upload-text2">We support .pdf files</p>
            </form>

            <!-- this is where the file uploads will appear -->
            <div class="file-content-container">
                {% if uploaded_files %}
                    {% for file in uploaded_files %}
                        <div class="file-content-card">
                            <p class="file-name">{{ file }}</p>
                            <div class="file-delete-button" onclick="removeFile('{{ file }}')"><p>X</p></div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="file-content-container-p">No files uploaded yet.</p>
                {% endif %}
            </div>
        </div>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <p class="error-message">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="buttons-container">
            <div id="backButton" onclick="goBack()">
                <p>BACK</p>
            </div>

            <div id="nextButton" onclick="redirectToNextPage()">
                <p>NEXT</p>
            </div>
        </div>

        <script>
            document.addEventListener('DOMContentLoaded', () => {
                const dropDownForm = document.getElementById("dropDownForm");
                const fileInput = document.getElementById('fileInput');
                submitForm();

                dropDownForm.addEventListener('dragover', (e) => {
                    e.preventDefault();
                    dropDownForm.classList.add('dragover');
                });

                dropDownForm.addEventListener('dragleave', () => {
                    dropDownForm.classList.remove('dragover');
                });
    
                // On file input change, enable the "Next" button if files are selected
                fileInput.addEventListener('change', function() {
                    dropDownForm.classList.remove('dragover');
                    this.form.submit();
                });
            });
    
            // Check if there are uploaded files and enable the "Next" button accordingly
            function submitForm() {
                const uploadedFiles = JSON.parse('{{ uploaded_files|tojson|safe }}');
                const nextButton = document.getElementById('nextButton');
                if (uploadedFiles.length > 0) {
                    console.log("Uploaded files:", uploadedFiles);
                    nextButton.style.backgroundColor = '#4B1174';
                    nextButton.disabled = false;
                } else {
                    nextButton.style.backgroundColor = '#360c53a1';
                    nextButton.disabled = true;
                }
            }
    
            function removeFile(fileName) {
                window.location.href = `{{ url_for('get_file.remove_file') }}?file=${fileName}`;
            }

            function goBack() {
                window.history.back(); 
            }

            function redirectToNextPage(){
                const nextButton = document.getElementById('nextButton');
                if(!nextButton.disabled){
                    window.location.href = "{{ url_for('get_file_pages.get_file_pages_page') }}";
                }
            }
        </script>
    </div>
    <img class="dot" src="{{ url_for('static', filename='images/polka.png') }}">
    <img class="dot2" src="{{ url_for('static', filename='images/polka.png') }}">

    <script>
        window.addEventListener('scroll', function() {
            const header = document.querySelector('.header');
            if (window.scrollY > 50) { 
                header.classList.add('scrolled');
            } else {
                header.classList.remove('scrolled');
            }
        });
    </script>
</body>
</html>
