<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <title>SummPy | 5-pager Summarizer</title>
</head>

<body>
    <img class="bg" src="{{ url_for('static', filename='images/bg.png') }}" alt="main background" width="1920" height="1080">

    <!-- Horizontal line below the header -->
    <hr class="header-line">

    <div class="logo-container">
        <img class="logo" src="{{ url_for('static', filename='images/logo.gif') }}" alt="logo" width="1500" height="800">
    </div>

    <div class="hero">
        <div class="nav-box-container">
            <nav>
                <ul>
                    <li>
                        <a class="home-button" href="{{url_for('home.home_page')}}">HOME</a>
                    </li>
                    <li>
                        <a href="{{url_for('about.about_page')}}">HOW TO USE</a>
                    </li>
                    <li>
                        <a href="{{url_for('get_started.get_started_page')}}">ABOUT US</a>
                    </li>
                    <li>
                        <a href="{{url_for('donate.donate_page')}}">DONATE</a>
                    </li>
                </ul>
            </nav>

            <div class="container">
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
            </div>
        </div>
    </div>

    <div class="sumnow">
        <a href="{{url_for('summ.summ_page')}}"><button class="now" type="button">SUMMARIZE NOW</button></a>
    </div>

 
</body>
</html>
