<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <title>SummPy | 5-pager Summarizer</title>
</head>

<body>
    <div class="home-container">
        <div class="first-section">
            <div class="nav-box-container">
                <nav>
                    <ul>
                        <li>
                            <a href="{{url_for('home.home_page')}}" class="box">
                                HOME
                            </a>
                        </li>
                        <li>
                            <a href="{{url_for('about.about_page')}}" class="box">
                                HOW TO USE
                            </a>
                        </li>
                        <li>
                            <a href="{{url_for('get_started.get_started_page')}}" class="box">
                                ABOUT US
                            </a>
                        </li>
                        <li>
                            <a href="{{url_for('donate.donate_page')}}" class="box">
                                DONATE
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <hr class="header-line">

            <div class="logo-container">
                <img class="logo" src="{{ url_for('static', filename='images/logo.gif') }}" alt="logo">
                <a href="{{url_for('summ.summ_page')}}"><button class="now" type="button">SUMMARIZE NOW - IT'S FREE</button></a>
            </div>
        </div>

      

        <div class="second-section" style="display: flex; justify-content: center; align-items: center;">
            <img src="{{ url_for('static', filename='images/video.gif') }}" alt="insert video here" style="width: 90%; height: auto; margin: 0 10px;">
        </div>

         <div class="third-section" style="display: flex; justify-content: center; align-items: center;">
            <img src="{{ url_for('static', filename='images/description.gif') }}" alt="fast" style="width: 90%; height: auto; margin: 0 10px;">
        </div>

        <div class="fourth-section" style="display: flex; justify-content: center; align-items: center;">
            <img src="{{ url_for('static', filename='images/fast.gif') }}" alt="fast" style="width: 25%; height: auto; margin: 10px;">
            <img src="{{ url_for('static', filename='images/easy.gif') }}" alt="easy" style="width: 25%; height: auto; margin: 0 10px;">
            <img src="{{ url_for('static', filename='images/just.gif') }}" alt="just" style="width: 25%; height: auto; margin: 0 10px;">
        </div>

        <div class="fifth-section" style="display: flex; justify-content: center; align-items: center;">
            <img src="{{ url_for('static', filename='images/fast.gif') }}" alt="fast" style="width: 90%; height: auto; margin: 0 10px;">
        </div>


    </div>
</body>
</html>
