<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <title>SummPy | 5-pager Summarizer</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{url_for('home.home_page')}}">HOME</a></li>
                <li><a href="{{url_for('about.about_page')}}">ABOUT</a></li>
                <li><a href="{{url_for('get_started.get_started_page')}}">GET STARTED</a></li>
                <li><a href="{{url_for('summpy.upload_file')}}">UPLOAD PDF</a></li>
            </ul>
        </nav>
    </header>
    <h1>HOME PAGE</h1>
</body>
</html>